body {
  background-color: #FFF;
}

h1  {
  color: #000;
}

div#test01 {
  color: #00a;
}

.important {
  color: #a00;
}


.el {
  background-color:aqua
}

.ol {
  background-color:antiquewhite
}

td,th {
  border: solid;
}